body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #529aed;
    background-size: cover;
    background-position: center;
    padding: 0;
}

body.start-state {
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url('../img/index-bg.png');
}

.wrapper {
    text-decoration: none;
    display: none;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.start-label {
    font-size: 13px;
    color: rgb(255 255 255);
    margin-top: 30px;
    font-family: 'MontserratExtraBold', sans-serif;
    animation: blink 3s ease-out infinite;
    pointer-events: none;
}
@keyframes blink {
    0% { opacity: .4; }
    50% { opacity: .1; }
    100% { opacity: .4; }
}

body.start-state .wrapper{
    display: flex;
}

h1{
    font-family: 'MontserratExtraBold', sans-serif;
    font-size: 192px;
    line-height: 162px;
    margin: 0;
    text-transform: uppercase;
    max-width: 576px;
    width: 100%;
    background: -webkit-linear-gradient(0deg, rgba(255,1,252,1) 0%, rgba(150,71,229,1) 51%, rgba(42,10,204,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
}