.players {
    margin: 0 auto 100px;
    display: flex;
}
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 198px;
    padding: 30px 0;
    background: linear-gradient(90deg, rgba(255,1,252,.2) 0%, rgba(150,71,229,.2) 51%, rgba(42,10,204,.2) 100%);
}
.player:not(:last-child) {
    margin-right: 50px;
}
.player__name {
    margin-top: 0;
    padding-bottom: 14px;
    margin-bottom: 14px;
    color: white;
    text-align: center;
    font-family: 'MontserratSemiBold', sans-serif;
    text-transform: uppercase;
    font-size: 23px;
    position: relative;
    width: 100%;
}
.player__name:after {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, rgba(255,1,252,.5) 0%, rgba(150,71,229,.5) 51%, rgba(42,10,204,.5) 100%);
    width: 90%;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.player__points {
    text-align: center;
    font-family: 'MontserratSemiBold', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 23px;
}